<sf-lib-side-actions (copyData)="copyFrameObject()"
                 (showJson)="showJson = $event"></sf-lib-side-actions>

<ng-container *ngIf="showJson; else tableView">
  <div class="json">
    <pre *ngIf="comparedFrame; else frameObjectData"
         [innerHTML]="getJsonDataDiff()"></pre>
    <ng-template #frameObjectData>
      <pre [innerHTML]="getJsonData()"></pre>
    </ng-template>
  </div>
</ng-container>
<ng-template #tableView>
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      Object details
    </mat-expansion-panel-header>
    <sf-lib-property-list [data]="frameObject" [comparedData]="comparedFrameObject"></sf-lib-property-list>
  </mat-expansion-panel>

  <sf-lib-attribute-list [attributes]="frameObject.attributes" [comparedAttributes]="comparedFrameObject?.attributes"></sf-lib-attribute-list>
</ng-template>