.main-table {
  margin-bottom: 15px;
}
.mat-expansion-panel {
  margin-bottom: 8px;
}
::ng-deep {
  .mat-expansion-panel-content {
    overflow: auto;
  }

  tr.example-detail-row {
    height: 0;
  }

  tr.example-element-row:not(.example-expanded-row):hover {
    background: rgba(0,0,0,0.04);
  }

  .example-element-row td {
    border-bottom-width: 0;
  }

  .example-element-detail {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    &.expanded {
      padding: 12px;

      tr:not(:last-child) {
        td {
          border-bottom: 1px solid #ccc !important;
        }
      }
    }
  }
}
.actions {
  margin-bottom: 10px;
}
.json-value {
  display: block;
  max-height: 300px;
  width: 350px;
  overflow: auto;
  background-color: #cccccc30;
  margin: 4px;
}
.json {
  display: block;
  overflow: auto;
  background-color: #cccccc30;
  margin: 4px;
}
.field-key {
  font-weight: bold;
  text-transform: capitalize;
}
.is-new {
  color: #090;
}
