.main-table {
  margin-bottom: 15px;
}
.mat-expansion-panel {
  margin-bottom: 8px;
}
::ng-deep {
  .mat-expansion-panel-content {
    overflow: auto;
  }
  //.material-symbols-outlined {
  //  font-variation-settings:
  //    'FILL' 0,
  //    'wght' 400,
  //    'GRAD' 0,
  //    'opsz' 24
  //}
}
.actions {
  margin-bottom: 10px;
}
.json-value {
  display: block;
  max-height: 300px;
  width: 350px;
  overflow: auto;
  background-color: #cccccc30;
  margin: 4px;
}
.json {
  display: block;
  overflow: auto;
  background-color: #cccccc30;
  margin: 4px;
}
.field-key {
  font-weight: bold;
  text-transform: capitalize;
}
.is-new {
  color: #090;
}

