:host {
  // padding: 0 8px;
  display: flex;
  flex-direction: column;
}
.mat-expansion-panel {
  margin-bottom: 8px;
}
.panel-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.actions {
  width: 100px;
  display: flex;
}
