<sf-side-actions (copyData)="copyFrame()"
                 (showJson)="showJson = $event"></sf-side-actions>

<ng-container *ngIf="showJson; else tableView">
  <div class="json">
    <pre *ngIf="comparedFrame; else frameData"
         [innerHTML]="getJsonDataDiff(frame, comparedFrame)"></pre>
    <ng-template #frameData>
      <pre [innerHTML]="getJsonData()"></pre>
    </ng-template>
  </div>
</ng-container>
<ng-template #tableView>
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      Frame details
    </mat-expansion-panel-header>
    <sf-property-list [data]="frame" [comparedData]="comparedFrame"></sf-property-list>
  </mat-expansion-panel>

  <sf-attribute-list [attributes]="frame.attributes" [comparedAttributes]="comparedFrame?.attributes"></sf-attribute-list>
</ng-template>
