.mat-expansion-panel {
  margin-bottom: 8px;
}
::ng-deep {
  .json-key {
    color: #005dc8;
  }

  .green {
    color: #090;
  }

  .red {
    color: #e85858;
  }
}
.json {
  display: block;
  overflow: auto;
  background-color: #cccccc30;
  margin: 4px;
}