<table mat-table [dataSource]="displayedDataSource" class="main-table">
  <!-- Key Column -->
  <ng-container matColumnDef="key">
    <th mat-header-cell *matHeaderCellDef> Field </th>
    <td mat-cell *matCellDef="let element" class="field-key">{{element.key}}</td>
  </ng-container>

  <!-- Value Column -->
  <ng-container matColumnDef="value">
    <th mat-header-cell *matHeaderCellDef> Value </th>
    <td mat-cell *matCellDef="let element">
      <ng-template #valuesPopover>
        <div class="json-value">
          <pre [innerHTML]="element.state === 'updated' ? getJsonDiff(element.oldValue, element.value) : getJson(element.value)"></pre>
        </div>
      </ng-template>
      <savant-lib-element-popover [popoverTemplate]="valuesPopover">
        <ul class="no-bullets"
            [class.is-updated]="element.state === 'updated'"
            [class.is-new]="element.state === 'new'">
          <li *ngFor="let str of getElementValueAsArray(element.value)">{{ str }}</li>
        </ul>
      </savant-lib-element-popover>
    </td>
  </ng-container>

  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
