<ng-container *ngIf="popoverTemplate">
  <span [sfPopoverTrigger]="popoverWithTemplate"
        [fixedPopoverPosition]="popoverPosition"
        class="content"
        popoverPosition="above"
        arrowPosition="before"
        triggerEvent="hover">
      <ng-container *ngTemplateOutlet="content"></ng-container>
    </span>
</ng-container>

<ng-template #content>
  <ng-content></ng-content>
</ng-template>

<sf-popover #popoverWithTemplate="sf-popover"
            [yPosition]="'above'"
            [disableCloseOnMouseLeave]="disableCloseOnMouseLeave"
            (closed)="closed.emit()"
            [closeOnBackdropClick]="true">
    <ng-container [ngTemplateOutlet]="popoverTemplate"></ng-container>
</sf-popover>
