<mat-expansion-panel *ngFor="let span of spans; let i = index">
  <mat-expansion-panel-header [ngClass]="{'cdk-keyboard-focused': selectedIndex === i}">
    <div class="panel-header">
      <div class="title">{{ span.operationName }}</div>
      <div class="actions">
        <button (click)="$event.stopPropagation();selectedSpan.emit(i)"
                [ngClass]="{ 'selected' : selectedIndex === i }"
                [matTooltip]="tooltipLabels.showFrame"
                mat-icon-button>
          <mat-icon>open_in_new</mat-icon>
        </button>
        <button *ngIf="i !== selectedIndex"
                [disabled]="selectedIndex === -1"
                [matTooltip]="tooltipLabels.compareFrame"
                (click)="$event.stopPropagation();compareSpan.emit(i)"
                [ngClass]="{ 'selected': selectedCompareIndex === i }"
                mat-icon-button>
          <mat-icon>compare</mat-icon>
        </button>
      </div>
    </div>
  </mat-expansion-panel-header>
  <div class="content">
    <div>{{ libLabels.startTime }}: {{ (span.startTime / 1000) | date: 'MMM dd, yyyy \'at\' hh:mm a' }}</div>
    <div>{{ libLabels.processId }}: {{ span.processID }}</div>
    <div>{{ libLabels.spanId }}: {{ span.spanID }}</div>
  </div>
</mat-expansion-panel>
